header {
  background-image: url("./images/apple-pie.jpg");
  background-size: cover;
  margin-bottom: 70px;

  h1{
    color: white;
    font-size: 65px;
    text-align: center;
    padding: 200px 0;

  }
}
