section{
  margin: auto;
  width: 80%;
  p {
    text-align: justify;
    font-size: 24px;
  }
  ol>li{
    list-style: none;
    font-size: 18px;
  }

}

.recipe-info {
  margin: 0 auto;
	display:block;
  width: 75%;
  padding: 40px 0;
}
.cooking-info {
  margin: 0 auto;
  display:block;
  width: 250px;
  padding: 40px 0;
}

.img{
  position: relative;
  &::after{
    content: "";
    display:block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #8c8787;

  }

}
